Does the integrated galene TURN server work for other domain than galene.org?

Hi!

I'm trying to make galene work for my family meetings, but I have some issues with one member whose video doesn't show up. As it's the only one with only ipv4 access, my guess is that it's related to NAT traversal issues, so I'm trying the integrated galene TURN server.

I have the following configuration:
- my raspberrypi server is at home, behind a router
- a router connected to internet, with UDP/TCP port relay for 1194 and for the UDP range
- a dedicated DNS subdomain  for the galene website, i.e. like "visio.example.org"

I'm starting galene with `-turn visio.example.org:1194`, but I have a fixed IPv4 and I tried also with the IP instead, it's the same result. 

There is no error from my side, the TURN test at startup of galene works fine: `Relay test successful in 54.244418ms, RTT = 559.398µs`

But I wonder about lines like https://github.com/jech/galene/blob/master/turnserver/turnserver.go#L192 : doesn't it fail for any other website than galene.org ? Shouldn't the realm also be a parameter for galene ?

I don't know much about TURN, so maybe I made a stupid mistake at my side, but the hardcoded name here looked suspicious to me.

> But I wonder about lines like https://github.com/jech/galene/blob/master/turnserver/turnserver.go#L192 : doesn't it fail for any other website than galene.org ? Shouldn't the realm also be a parameter for galene ?

No, that's fine, the realm is not a domain, it's just a parameter that's added during TURN client authentication.  See RFC 5766 Section 16 for an example of how it is negotiated.

> I'm starting galene with -turn visio.example.org:1194

Is the port 1194 accessible from the outside?  Did you forward it on your router?

> There is no error from my side, the TURN test at startup of galene works fine: Relay test successful in 54.244418ms, RTT = 559.398µs

That means that the TURN server is accessible from Galene, but not necessarily from the client.  Please ask the user to type « /relay-test » in the chat window.

Closing for now, since there are no actionable items.  Please feel free to reopen, or (preferably) to come discuss your issue on the [Galene mailing list](https://lists.galene.org/galene/).